/* Login.module.css */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.container label {
  display: block;
  margin-bottom: 5px;
}

.container input[type="email"],
.container input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.container button[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.new-user {
  text-align: center;
  margin-top: 10px;
}

.new-user a {
  color: #007bff;
  text-decoration: none;
}

.new-user a:hover {
  text-decoration: underline;
}

.forgot-password {
  color: #007bff; /* Blue color for the forgot password text */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-top: 10px; /* Adjust as needed */
}

.forgot-password:hover {
  text-decoration: underline; /* Underline the text on hover */
}